.header img{
    height: 150px;
    margin-left: 560px;
    
}
.header-text{
    text-align: center;
    color: rgb(88, 4, 88);
}

.header-text2{
    text-align: center;
    color: rgba(100, 102, 9, 0.801);
}